<template>
  <div>
    <div class="score_container">
      <p v-html="'Dealer wins: ' + dealerWins"></p>
      <p v-html="playerName + ' wins: ' + playerWins"></p>
      <p v-html="playerName + ' current value: ' + player.currentValue"></p>
      <p v-html="'Dealers current value: ' + dealer.currentValue"></p>
    </div>

    <div class="buttons">
      <button class="btn" @click="onStandClick">Stand</button>
      <button class="btn" @click="onDrawClick">Draw</button>
      <button class="btn" v-if="value === 'ACE'" @click="onFlipAceClick">Flip Aces</button>
    </div>

    <div class="container">
      <div class="container-dealer">
        <h3>DEALER</h3>
        <div class="dealer_cards">
          <div v-for="card in dealer.cards" :key="card.image">
            <img class="card" v-bind:src=card.image>
          </div>
        </div>
      </div>

      <div class="container-player">
        <h3 v-html="playerName"></h3>
        <div class="player_cards">
          <div v-for="card in player.cards" :key="card.image">
            <img class="card" v-bind:src=card.image>
          </div>
        </div>
      </div>
    </div>


  </div>

</template>

<script>
import {store} from '@/store'
import {drawANewCard, drawTwoCards} from "@/components/BlackjackAPI";

let cardValueMap = new Map();
cardValueMap.set('JACK', 10);
cardValueMap.set('QUEEN', 10);
cardValueMap.set('KING', 10);
cardValueMap.set('ACE', 1);


function card(image, value){
  this.image = image;
  this.value = value;
}



function sumCards(cards){
  let total = 0;
  cards.forEach(x => total+=Number(x.value))
  return total;
}


export default {
  name: "Blackjack",
  data() {
    return {
      value: '',
      playerName: '',
      playerWins: 0,
      dealerWins: 0,
      playerTurn: true,
      player: {
        cards: [],
        currentValue: 0
      },
      dealer: {
        cards: [],
        hiddenCard: '',
        currentValue: 0
      },

    }
  },
  created() {
    //dealer cards at start
    this.playerName = store.data.name;
    this.gameStart()
  },
  methods: {
    resetGame() {
      this.player.cards = []
      this.player.currentValue = 0
      this.dealer.cards = []
      this.dealer.currentValue = 0
    },
    gameStart() {
      drawTwoCards(store.data.apiResponse.deck_id).then(response => {
        if (cardValueMap.has(response.cards[0].value)){
          this.dealer.cards.push(new card(response.cards[0].image, cardValueMap.get(response.cards[0].value)));
          this.dealer.hiddenCard = new card(response.cards[1].image, cardValueMap.get(response.cards[1].value));
        }
        else {
          this.dealer.cards.push(new card(response.cards[0].image, response.cards[0].value));
          this.dealer.hiddenCard = new card(response.cards[1].image, response.cards[1].value);
        }
        //add first element, second is hidden?
        this.dealer.currentValue += Number(this.dealer.cards[0].value);
        this.playerTurn = true;
        console.log('HiddenCard: ' + this.dealer.hiddenCard.value)
        console.log('HiddenCard: ' + this.dealer.hiddenCard)
        console.log('Dealer cards: ' + this.dealer.cards)
        console.log('Dealer sum: ' + this.dealer.currentValue)
      });
    },

    async onStandClick() {
      this.playerTurn = false;

      //reveal andre kortet
      this.dealer.cards.push(this.dealer.hiddenCard);
      //this.dealer.currentValue = sumCards(this.dealer.cards)
      //vis i html

      console.log('HiddenCard: ' + this.dealer.hiddenCard.value)
      console.log('HiddenCard: ' + this.dealer.hiddenCard)

      //loop
      while (this.playerTurn === false) {

        if (this.dealer.currentValue < 17) {
          await drawANewCard(store.data.apiResponse.deck_id).then(response => {
            if (cardValueMap.has(response.cards[0].value)) {
              this.dealer.cards.push(new card(response.cards[0].image, cardValueMap.get(response.cards[0].value)));
            } else {
              this.dealer.cards.push(new card(response.cards[0].image, response.cards[0].value));
            }
          })
        }

        this.dealer.currentValue = sumCards(this.dealer.cards)
        console.log('Current dealer score in stand loop: ' + this.dealer.currentValue)

        //if score is equal, house wins
        if (this.dealer.currentValue >= 17 && this.dealer.currentValue <= 21 && this.dealer.currentValue >= this.player.currentValue){
          //win
          alert('Player lost! Dealer score: ' + this.dealer.currentValue + 'and you got ' + this.player.currentValue)
          this.dealerWins = this.dealerWins + 1;
          this.resetGame();
          this.gameStart();
          this.playerTurn = true;
        }
        else if (this.dealer.currentValue > 21){
          //lost
          alert('Player won! Dealer score: ' + this.dealer.currentValue + 'and you got ' + this.player.currentValue)
          this.playerWins = this.playerWins + 1;
          this.resetGame();
          this.gameStart();
          this.playerTurn = true;
        }

      }
    },
    onFlipAceClick() {
      //Legg inn logikk for popup & bytte te 11 potensielt
    },
    async onDrawClick() {
      await drawANewCard(store.data.apiResponse.deck_id).then(response => {
        //player turn
        if (cardValueMap.has(response.cards[0].value)){
          this.player.cards.push(new card(response.cards[0].image,cardValueMap.get(response.cards[0].value)));
        }
        else {
          this.player.cards.push(new card(response.cards[0].image,response.cards[0].value));
        }

        if (this.player.cards[this.player.cards.length-1] === 0){
            this.value = 'ACE';
            this.player.cards[this.player.cards.length-1].value = 1;
        }
        else {
          this.value = ''
        }

        this.player.currentValue = sumCards(this.player.cards);

        if (this.player.currentValue === 21) {
          alert('BLACKJACK! Player score: ' + this.player.currentValue)
          this.playerWins = this.playerWins + 1
          this.resetGame();
          this.gameStart();
        }


        if (this.player.currentValue > 21){
          console.log(this.player.currentValue)
          alert('Player bust! Player score: ' + this.player.currentValue)
          this.dealerWins = this.dealerWins + 1
          this.resetGame()
          this.playerTurn = false;

          //slutte her
          this.gameStart();
        }

        console.log('Player cards: ' + this.player.cards)
        console.log('Player sum: ' + sumCards(this.player.cards))

      });
    }
  }
}


</script>

<style scoped>

.card {
  height: 150px;
  width: 110px;
}

.container-dealer, .container-player {

}

.player_cards, .dealer_cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  background-color: #2c3e50;
  border: none;
  color: lightgrey;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}

.btn:hover {
  background-color: #5b80a4;
  color: black;
}

</style>