<template>
  <div>

    <label for="name_input">Enter name</label>
    <input id="name_input" type="text" v-model="name" required>
    <button class="btn" type="button" @click="buttonClick">START</button>
  </div>
</template>

<script>
import {fetchANewDeck} from "@/components/BlackjackAPI";
import {store} from '@/store'

export default {
  name: "StartScreen",
  data() {
    return {
      name: 'temp'
    }
  },
  methods: {
    async buttonClick() {
      await fetchANewDeck().then(response => {
        store.data.apiResponse = response;
        store.data.name = this.name;
        console.log(response)
        this.$router.push('/playgame')
      });
    }
  }
}
</script>

<style scoped>

.btn {
  background-color: #2c3e50;
  border: none;
  color: lightgrey;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}

.btn:hover {
  background-color: #5b80a4;
  color: black;
}

</style>