<template>
  <div id="app">
    <header class="top_banner">
      <!-- HREF tilbake til "home" som en tilbakeknapp -->
      <h1 class="top_banner_text">Blackjack</h1>
    </header>
    <router-view/>
    </div>
</template>

<script>


export default {
  name: 'App',
  components: {

  },
  methods: {
    buttonClick(){
      this.$router.push('/playgame')
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: linear-gradient(to bottom right, #009900 13%, #66ff66 100%);
}
.top_banner {
  width: 100%;
  font-family: "Lucida Fax", sans-serif;
  font-size: 35px;
}


.top_banner_text {
  margin-top: 0;
  text-align: center;
}

</style>
